@import '@zendeskgarden/css-bedrock';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.indicator {
  border-radius: 100%;
  width: 16px;
  height: 16px;

  &__confirmed {
    display: inline-block;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    background-color: gray;
    margin-right: 8px;
  }
}
