@import '@zendeskgarden/css-bedrock';

:root {
  font-family: var(--zd-font-family-system);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.indicator {
  border-radius: 100%;
  width: 16px;
  height: 16px;
}

.indicator__confirmed {
  display: inline-block;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  background-color: var(--zd-color-grey-800);
  margin-right: 8px;
}

.title {
  color: var(--zd-color-grey-800);
  font-weight: bold;
}

.state {
  color: var(--zd-color-grey-600);
}

.bold {
  font-weight: bold;
}
