@import '@zendeskgarden/css-bedrock';

:root {
  font-family: var(--zd-font-family-system);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  margin-top: 16px;
}

.bold {
  font-weight: bold;
}
